.body{
  margin: 25px auto;
  width: 800px;
}
ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background-color: #353b87;
}
li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 25px;
}
.nav-bar li{
  display: inline-block;
  text-align: center;
}
.nav-bar > li:not(:last-child)::after{
  content: "|";
  color: white;
  margin: 0 .25em;
}
h5 {
  font-family: 'Amaranth', sans-serif;
  font-weight: bold;
}
img{
  margin: auto;
  padding: 10px;
  width: 50%;
  padding-left: 40px;
  margin-right: auto;
}
.logo-img img{
  width: 70px;
  margin: auto;
}
