.nav-bar{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background-color: #353b87;
}
.nav-bar li a{
  display: inline-block;
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 25px;
}
.nav-bar li{
  display: inline-block;
  text-align: center;
}
.nav-bar > li:not(:last-child)::after{
  content: "|";
  color: white;
  margin: 0 .25em;
}
.body{
  margin: 25px auto;
  width: 800px;
}
.intro{
  padding-bottom: 20px;
}
.intro img{
  float: left;
  margin: auto;
  padding: 20px 20px;
}
h1{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #1c1f45;
}
#Label{
  font-style: italic;
  color: #6771ff;
  font-weight: lighter;
  text-align: center;
}
p{
  color: #1c1f45;
  font-weight: 200;
  font-family: 'Archivo', sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: 'Amaranth', sans-serif;
}
h2{
  background-color: #353b87;
  color: white;
  padding: 5px;
  text-align: center;
}
h4{
  font-weight: bold;
}
h5{
  font-weight: lighter;
  font-style: italic;
}
.skills li{
  display: inline-block;
}
.skills > li:not(:last-child)::after{
  content: "|";
  margin: 0 .25em;
}
.university{
  font-style: italic;
}
.experience{
  padding-top: 20px;
}
