.navigation{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background-color: #353b87;
}
body{
  margin: auto;
  width: 50%;
  padding: 10px;
}
h1{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #1c1f45;
}
#Label{
  font-style: italic;
  color: #6771ff;
  font-weight: lighter;
  text-align: center;
}
p{
  color: #1c1f45;
  font-weight: 200;
}
h1, h2, h3, h4, h5{
    font-family: 'Amaranth', sans-serif;
}
h2{
  background-color: #353b87;
  color: white;
  padding: 5px;
}
h4{
  font-weight: bold;
}
h5{
  font-weight: 100px;
  font-style: italic;
}
