.body{
  max-width: 800px;
  margin: auto;
  font-family: 'Archivo', sans-serif;
}
img{
  max-width: 500px;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  background-color: #353b87;
}
.nav-bar li{
  display: inline-block;
}
.nav-bar > li:not(:last-child)::after{
  content: "|";
  color: white;
  margin: 0 .25em;
}
li a{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 25px;
}
h1{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #1c1f45;
  font-family:'Amaranth', sans-serif;
}
.color{
  background-color: #b6b5e6;
}
p{
  text-align: center;
  word-spacing: 2px;
  font-style: italic;
  color: white;
}
