body{
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
.personal-title {
  font-weight: bold;
  color: grey;
  font-style: italic;
}
.center-top-content{
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-weight: bold;
  max-width: 400px;
  text-align: center;
  color: grey;
  font-style: italic;
  border-bottom: 1px solid grey;
}
h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 0;
}
#nav-links{
  max-width: 400 px;
  margin: 0 auto 20px;
  padding-left: 20;
}
#nav-links li{
  display: inline-block;
}
#nav-links > li:not(:last-child)::after{
  content: "|";
  margin: 0 .25em;
}
.main-content{
  width: 80%;
  margin: 0 auto;
}
.introduction {
  line-height: 1.8;
  overflow: auto;
}
.introduction img {
  width: 40%;
  float: right;
  margin-top: 16px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.highlight{
  background-color: #33485e;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
  color:white;
  font-weight: bold;
}
h2{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #33485e;
  color: white;
  padding: 5px;
  background-color: #33485e;
}
h3{
   font-family: 'Josefin Sans', sans-serif;
}
h4{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-weight: italic;
  color: grey;
}
h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-style: italic;
}

div{
  line-height:
}
img{
  float: right;
  width: 33%;
}

.container-experience{
  margin-top: 5px;
  margin-bottom: 5px;
}
