h1{
  font-size: 36px;
  color: #33485e;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
body{
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}
.center-top-content{
text-align: center;
border-bottom: 5px black;
}
h2{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #33485e;
  color: white;
  padding: 5px;
  background-color: #33485e;
}
h3{
   font-family: 'Josefin Sans', sans-serif;
}
h4{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-weight: italic;
  color: grey;
}
h5{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-style: italic;
}
li {
  display: inline;
  padding: 0px;
  list-style-type: none;
}
.main-content{
  width: 80%;
  text-align: center;
}
div{
  line-height:
}
img{
  float: right;
  width: 33%;
}
.highlight{
  background-color: #33485e;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 5px;
  padding-left: 5px;
  color:white;
  font-weight: bold;
}
.container-experience{
  margin-top: 5px;
  margin-bottom: 5px;
}
